.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: stretch;
}

.cards > * {
  width: calc(20% - 16px);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .cards > * {
    width: calc(33.333% - 14px);
  }
}

@media (max-width: 640px) {
  .cards > * {
    width: calc(50% - 10px);
  }
}
