.header {
  background: #0f0f0f;

  display: flex;
  align-items: center;
}

.nav {
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo {
  display: flex;
}
