.footer {
  color: #ffffff;
  padding: 100px 50px;
  background: #0f0f0f;
}

.footer-nav {
  display: flex;
  gap: 30px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding: 0;
  margin: 0;

  width: 50%;
}

.footer-nav__list li:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}
