.card {
  width: 23.6%;
  border: 1px solid red;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content {
  padding: 5px;
}

.card__title {
  font-weight: 700;
  margin-bottom: 10px;
}

.genres {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
